.alert {
    font: {
        family: 'Saira Extra Condensed', serif;
    }
    background-color: #000;
    box-shadow: 12px 10px 9px #525050;
    width: 90%;
    position: fixed;
    top: 20%;
    left: 5%;
    @media (min-width: $break-medium) {
        width: 60%;
        position: fixed;
        top: 5%;
        left: 30%;
    }
    @media (min-width: $break-large) {
        width: 50%;
        left: 30%;
        top: 25%;
    }
    z-index: 10;
    border-radius: 25px;
    line-height: 1;

    p {
        font-size: 1rem;
        color: white;
        font-weight: 400;
        @media (min-width: $break-small) {
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 1.2rem;
        color: #bf5d31;
        text-align: center;
        @media (min-width: $break-small) {
            font-size: 2rem;
        }
    }

    .close {
        font-size: 2rem;
        color: white;
        padding: 0;
    }

    
}

.alert-warning {
    padding: 1rem;
}
