//*My code*/

// Background Images
.bk-image-1 {
    background-image: url(/static/img/hands.jpeg);
    @include background-image
}

.bk-image-2 {
    background-image: url(/static/img/computer-web.jpeg);
    @include background-image
}

.bk-image-3 {
    background-image: url(/static/img/bike_wheel.jpg);
    @include background-image
}

.bk-image-4 {
    background-image: url(/static/img/decorate-web.jpg);
    @include background-image
}

.bk-image-5 {
    background-image: url(/static/img/wrench-web.jpeg);
    @include background-image
}

.bk-image-6 {
    background-image: url(/static/img/car-web.jpeg);
    @include background-image
}

.bk-image-7 {
    background-image: url(/static/img/yoga-web.jpeg);
    @include background-image
}

.bk-image-8 {
    background-image: url(/static/img/knitting.jpg);
    @include background-image
}

.bk-image-9 {
    background-image: url(/static/img/guitar.jpg);
    @include background-image
}

.bk-image-10 {
    background-image: url(/static/img/hands_mess_board.jpeg);
    @include background-image
}

// Elements idden for jquery event
.hidden,
.hidden_title,
.hidden_icon,
.hidden_answer,
.hidden_icon {
    display: none;
}


/*Spacing*/
.challenge-body {
    margin-top: 8rem;
}


/*Code adapted from bootstrap theme*/

// Flexbox styling for Headers & subheadings
.parent_1 {
    display: flex;
    align-items: center;
    background-color: white;
    opacity: .8;
}

.parent_2 {
    display: flex;
    align-items: center;
    opacity: .8;
    margin: 1rem;
}

.parent>div {
    // flex: 1;
    padding: 2rem;
}

// FONTS for Challenge Pages


section h2 {
    color: $gray-800;
}



.challenge-numbers_1 {
    @include challenge-font;
    font-size: 10rem;
    line-height: 5rem;
    padding-top: 1rem;
    color: $blue;
    opacity: .9;
}

.challenge-numbers_2 {
    @include challenge-font;
    font-size: 11rem;
    line-height: 5rem;
    color: $orange;
    margin-top: 5rem;
    padding: 0rem;
    text-shadow: 7px -3px black;
    box-sizing: none;
    
    @media (min-width: 992px) {
        font-size: 15rem;
    }
}

.answer_txt {
    @include challenge-font;
    font-size: 2rem;
    margin-top: 1rem;
    color: white;
    background-color: $orange;
}

.subheading {
    font-size: 3.5rem;
    color: #fafafa;
}

// Margins
.input-group {
    width: 45%;
}


// Icon
.fa-hand-point-right {
    position: fixed;
    top: 10%;
    left: 65%;
    font-size: 10rem;
    color: #000;
    opacity: .8;
    z-index: 10;
}


@media (min-width: 992px) {
    // FONTS for Challenge Pages
    .challenge-numbers_1 {
        font-size: 17rem;
    }

    section h2 {
        font-size: 4rem;
    } // Margins
    .input-group {
        width: 35%;
    }

    .fa-hand-point-right {
        position: fixed;
        top: 20%;
        left: 70%;
        font-size: 20remgit status;
    }
}


section.resume-section {
  min-height: 100vh;
  min-width: 100%;
  border-bottom: 1px solid $gray-300;
  // padding-top: 5rem !important;
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-content {}
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

@media (min-width: 992px) {
  section.resume-section {}
}