//*My code*/
// Background Images
.bk-image-1 {
    background-image: url(/static/img/hands.jpeg);
    @include background-image
}

.bk-image {
    @include background-image
}


.bk-image-10 {
    background-image: url(/static/img/hands_mess_board.jpeg);
    @include background-image
}

// Elements idden for jquery event
.hidden,
.hidden_title,
.hidden_icon,
.hidden_answer,
.hidden_icon {
    display: none;
    width: 100%;
}

.challenge-body {
    margin-top: 3rem;
    @media (min-width: $break-small) {
        margin-top: 9rem;        
    }

}

.challenge-cards {
    margin-top: 1rem;

}

.challenge-number {
    @include challenge-font;
    font-size: 4rem;
    @media (min-width: $break-small) {
        font-size: 8rem;
    }
    line-height: 3rem;
    color: $blue;
    opacity: .9;
    text: {
        shadow: $shadow;
        align: right;
    }
}

.challenge_title {
    color: $blue;
    border: {
        top: 1px solid;
        bottom: 1px solid;
    }
    @media (min-width: $break-small) {
        line-height: 5.5rem;
        margin-top: 1rem;
        font-size: 6.5rem;
        
    }
}


.challenge_statement {
    padding: .2rem;
    @media (min-width: $break-small) {
        margin-top: 2rem;
    }
}

.challenge_statement_2 {
    background-color: black;
    padding: .2rem;
    color: white;
    @media (min-width: 992px) {
        margin-top: 3rem;
    }
}

.challenge-text {
   @media (min-width: $break-small) {
       font-size: 2rem;
   }
}

.answer_txt {
    @include nav-font;
    font-size: 1rem;
    @media (min-width: $break-small) {
        font-size: 2rem;
    }
    margin-top: 1rem;
    color: white;
    background-color: $orange;
}

// Margins
.input-group {
    width: 45%;
}

// Icon
.fa-hand-point-right {
    color: #000;
    opacity: .8;
    z-index: 10;
    position: fixed;
    font-size: 7rem;
    @media (min-width: $break-medium) {
        font-size: 13rem;
    }
    top: 15%;
    left: 65%;
    @media (min-width: $break-medium) {
        top: 72%;
        left: 75%;
    }
}

.input-lg {
    border: solid #bb613f 3px;
    font-size: 1rem;
    max-width: 35%;
    @media (min-width: $break-small) {
        font-size: 2rem;
    }
    margin-left: 1rem;
}


