h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
}


h2 {
  font-size: 1.5rem;
}

/*Home page heading*/

.landing-page {
  font-size: 10rem;
  line-height: 9.5rem !important;
  color: white;
  text-shadow: 5px -2px black;
}

.text-primary {
  color: $primary !important;
}


/*Challenge fonts*/

.challenge-page-title {
  font-size: 6rem;
  color: $blue;

  @media (min-width: 768px) {
    margin: 1.5rem 0rem;
  }

  @media (min-width: 992px) {
    font-size: 10rem;
  }

}



