.form-control {
    margin-left: 15px;
}

.input-lg {
    border: solid #bb613f 3px;
    font-size: 1rem;
    @media (min-width: $break-small) {
        font-size: 2rem;
    }
    margin-left: 1rem;
    max-width: 20%;
    @media (min-width: $break-large) {
        max-width: 10%;
    }
}