// Global styling for this template
body {
  @include nav-font;
  color: $gray-600;
}


hr {
  width: 90%;
}


@media (min-width: 768px) {
  h1 {
    line-height: 3.5rem;
  }
}

@media (min-width: 992px) {
    body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}
