// Global styling for this template
body {
  @include nav-font;
  color: black;
  line-height: 1;
}


blockquote {
  border-left: solid 2px #000;
}

hr {
  width: 90%;
}


@media (min-width: 768px) {
  h1 {
    line-height: 3.5rem;
  }
}

@media (min-width: 992px) {
    body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}
