body {
  @include nav-font;
  color: black;
  line-height: 1;
  @media (min-width: 992px) {
    padding: {
      top: 0;
      left: $sidebar-base-width;
    }
  }

  hr {
    width: 90%;
  }


  h1 {
    @media (min-width: 768px) {
      line-height: 3.5rem;
    }
  }
}
