.info-p {
    color: $white;
    font-size: 1rem;
    @media (min-width: $break-small) {
        font-size: 2rem;
    }
    background: $black;
    text-align: center;
}

.info-head {
    color: white;
    font-weight: 300;
    text-align: center;
    @media (min-width: $break-small) {
        font-size: 3rem;
    }
}

.info-foot {
    color: $primary;
    text-align: center;
}

