.jumbotron {
    font: {
        family: 'Saira Extra Condensed', serif;
    }
    text-align: center;
    background: rgba(66, 24, 59, 0.78);
    width: 100%;
    margin: {
        top: 2rem;
        left: auto;
        right: auto;
    }
    @media (min-width: $break-small) {
        width: 60%;
        margin: {
            top: 6rem;
        }
    }
    @media (min-width: $break-large) {
        width: 50%;
    }
    z-index: 10;
    border-radius: 25px;
    line-height: 1;
    
    p {
        font-size: 1rem;
        color: $yellow;
        font-weight: 400;
        @media (min-width: $break-small) {
            font-size: 1.5rem;
        } 
        @media (min-width: $break-medium) {
            font-size: 2rem;
        }
    }
    
    h2 {
        font-size: 1.2rem;
        color: $white;
        text-align: center;
        @media (min-width: $break-small) {
            font-size: 2rem;
        }
    }
    .close {
        font-size: 2rem;
        color: white;
        padding: 0;
    }
}

.warning {
    padding: 1rem;
    text-align: center;
}
