.table {
    font-size: 1rem;
    color: white;
    overflow: auto;
    text-align: center;
}

.table-responsive {
    height: 200px;
}

tbody > tr:hover {
    color: $orange;
}

.results-margin {
    margin-top: 5rem;
}

.iframe {
    width: 560;
    height: 315;
}