/*Media breakpoints*/
/*My code*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1; }

h2 {
  font-size: 1.3rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2rem; } }

@media (min-width: 1200px) {
  h3 {
    color: #BD5D38; } }

.text-primary {
  color: #BD5D38 !important; }

/*Challenge fonts*/
.challenge-page-title {
  font-size: 4rem;
  color: #2e72aa; }
  @media (min-width: 768px) {
    .challenge-page-title {
      margin: 1.5rem 0rem;
      font-size: 8rem;
      margin-top: 3rem;
      margin-bottom: 3rem; } }
  @media (min-width: 992px) {
    .challenge-page-title {
      font-size: 10rem;
      margin-top: 6rem; } }

.user {
  position: absolute;
  top: 5.4rem;
  left: 1.1rem;
  border-top: solid;
  border-bottom: solid; }
  @media (min-width: 992px) {
    .user {
      max-width: 220px;
      left: 2rem; } }

.results-head {
  color: #BD5D38; }

.carousel h1 {
  color: white;
  margin-bottom: 2rem; }

.carousel-item p {
  font-size: 1.5rem; }
  @media (min-width: 992px) {
    .carousel-item p {
      font-size: 2rem; } }

.carousel p,
blockquote p {
  color: white; }

body {
  font-family: 'Open Sans', serif;
  color: black;
  line-height: 1; }

hr {
  width: 90%; }

@media (min-width: 768px) {
  h1 {
    line-height: 3.5rem; } }
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }
.carousel-item {
  width: 100% !important;
  height: 450px !important;
  text-align: center;
  background-color: #af563499;
  padding: 1rem;
  line-height: 1.5; }

.carousel-container {
  margin-top: 2rem; }

.carousel-item > p {
  font-size: 1.5rem;
  position: relative;
  top: 30%;
  transform: translateY(-70%); }

.carousel {
  padding-bottom: 4rem; }

.mda_logo {
  width: 150px;
  height: 75px; }
  @media (min-width: 992px) {
    .mda_logo {
      position: fixed;
      top: 50%;
      left: 2rem;
      width: 200px;
      height: 100px; } }

#sideNav {
  background: rgba(189, 93, 56, 0.93) !important;
  box-shadow: 7px 7px 9px black; }
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    font-family: 'Open Sans';
    padding-left: 1.5rem;
    background-color: #BD5D38; }
    @media (min-width: 992px) {
      #sideNav .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem; } }

/*
Code provided - https://blackrockdigital.github.io/startbootstrap-resume/
adapted for size, logo, color and shadow
*/
@media (min-width: 992px) {
  #sideNav {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
    #sideNav .navbar-collapse {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }
.bg-primary {
  background-color: #BD5D38 !important; }

a {
  color: #BD5D38; }
  a:hover, a:focus, a:active {
    color: #824027; }

.jumbotron {
  font-family: 'Saira Extra Condensed', serif;
  text-align: center;
  background: rgba(66, 24, 59, 0.78);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  line-height: 1; }
  @media (min-width: 768px) {
    .jumbotron {
      width: 60%;
      margin-top: 6rem; } }
  @media (min-width: 1200px) {
    .jumbotron {
      width: 50%; } }
  .jumbotron p {
    font-size: 1rem;
    color: #ffe242;
    font-weight: 400; }
    @media (min-width: 768px) {
      .jumbotron p {
        font-size: 1.5rem; } }
    @media (min-width: 992px) {
      .jumbotron p {
        font-size: 2rem; } }
  .jumbotron h2 {
    font-size: 1.2rem;
    color: #fff;
    text-align: center; }
    @media (min-width: 768px) {
      .jumbotron h2 {
        font-size: 2rem; } }
  .jumbotron .close {
    font-size: 2rem;
    color: white;
    padding: 0; }

.warning {
  padding: 1rem;
  text-align: center; }

.bk-image-1 {
  background-image: url(/static/img/hands.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.bk-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.bk-image-10 {
  background-image: url(/static/img/hands_mess_board.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.hidden,
.hidden_question,
.hidden_attempt,
.hidden_score,
.hidden_para {
  display: none;
  width: 100%; }

.challenge-body {
  margin-top: 3rem; }
  @media (min-width: 768px) {
    .challenge-body {
      margin-top: 9rem; } }

.challenge-cards {
  margin-top: 1rem;
  text-align: center; }
  @media (min-width: 1200px) {
    .challenge-cards {
      margin-top: 4rem; } }

.challenge-number {
  font-family: 'Skranji', cursive;
  font-size: 4rem;
  line-height: 3rem;
  color: #2e72aa;
  opacity: .9;
  text-shadow: 7px 7px 9px black;
  text-align: right; }
  @media (min-width: 768px) {
    .challenge-number {
      font-size: 8rem; } }

.challenge_title {
  color: #2e72aa;
  border-top: 1px solid;
  border-bottom: 1px solid; }
  @media (min-width: 768px) {
    .challenge_title {
      line-height: 5.5rem;
      margin-top: 1rem;
      font-size: 6.5rem; } }

.challenge_statement {
  padding: .2rem; }
  @media (min-width: 768px) {
    .challenge_statement {
      margin-top: 2rem; } }

.challenge_statement_2 {
  background-color: black;
  padding: .2rem;
  color: white; }
  @media (min-width: 992px) {
    .challenge_statement_2 {
      margin-top: 3rem; } }

@media (min-width: 768px) {
  .challenge-text {
    font-size: 2rem; } }

.answer_txt {
  font-family: 'Open Sans', serif;
  font-size: 1rem;
  margin-top: 1rem;
  color: white;
  background-color: #BD5D38; }
  @media (min-width: 768px) {
    .answer_txt {
      font-size: 2rem; } }

.input-group {
  width: 45%; }

.fa-hand-point-right {
  color: #000;
  opacity: .8;
  z-index: 10;
  position: fixed;
  font-size: 7rem;
  top: 15%;
  left: 65%; }
  @media (min-width: 992px) {
    .fa-hand-point-right {
      font-size: 13rem; } }
  @media (min-width: 992px) {
    .fa-hand-point-right {
      top: 72%;
      left: 75%; } }

.input-lg {
  border: solid #bb613f 3px;
  font-size: 1rem;
  margin-left: 1rem;
  max-width: 20%; }
  @media (min-width: 768px) {
    .input-lg {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    .input-lg {
      max-width: 10%; } }

#end-score {
  color: #BD5D38;
  background-color: black; }

.username {
  color: #fff;
  font-size: 2rem;
  font-family: 'Skranji', cursive;
  text-align: center;
  background-color: #058599;
  padding: 1rem;
  line-height: 1 !important; }

.reg-page {
  font-size: 10rem;
  line-height: 8.5rem;
  color: white;
  text-shadow: 5px -2px black; }

.text-primary {
  color: #BD5D38 !important; }

.input-reg {
  font-size: 1rem;
  max-width: 90%;
  margin-left: 1rem; }
  @media (min-width: 768px) {
    .input-reg {
      max-width: 50%; } }

.btn-lg {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem;
  display: inline-block; }
  @media (min-width: 768px) {
    .btn-lg {
      font-size: 2rem; } }

.btn-info {
  box-shadow: 7px 5px 9px black; }

.msg-bd-btn {
  text-align: center; }

.nav-btn {
  position: absolute;
  right: .5rem;
  top: 4rem; }
  @media (min-width: 768px) {
    .nav-btn {
      right: 3rem;
      top: 3rem; } }
  @media (min-width: 992px) {
    .nav-btn {
      top: 65%;
      left: 5rem; } }

.main-button {
  margin-left: 15px;
  margin-top: 15px; }

.table {
  font-size: 1rem;
  color: white;
  overflow: auto;
  text-align: center; }

.table-responsive {
  height: 200px; }

tbody > tr:hover {
  color: #BD5D38; }

.results-margin {
  margin-top: 5rem; }

/*Home page heading*/
.landing-header {
  font-size: 5rem;
  line-height: 4rem !important;
  color: white;
  text-shadow: 7px 7px 9px black; }
  @media (min-width: 768px) {
    .landing-header {
      font-size: 7rem;
      line-height: 7rem !important; } }
  @media (min-width: 992px) {
    .landing-header {
      font-size: 9rem; } }

.subheading {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif; }
  @media (min-width: 768px) {
    .subheading {
      font-size: 3.5rem;
      line-height: 3.5rem; } }

.home-body {
  margin-top: 3rem;
  margin-left: .3rem; }
  @media (min-width: 768px) {
    .home-body {
      margin-top: 10rem; } }
  @media (min-width: 992px) {
    .home-body {
      margin-top: 12rem; } }

.info-p {
  color: #fff;
  font-size: 1rem;
  background: #000;
  text-align: center; }
  @media (min-width: 768px) {
    .info-p {
      font-size: 2rem; } }

.info-head {
  color: white;
  font-weight: 300;
  text-align: center; }
  @media (min-width: 768px) {
    .info-head {
      font-size: 3rem; } }

.info-foot {
  color: #BD5D38;
  text-align: center; }

.form-control {
  margin-left: 15px; }

.card,
.card-body {
  box-shadow: 7px 7px 9px black;
  background-color: rgba(66, 24, 59, 0.78);
  padding: 0; }

.card h2 {
  line-height: 1;
  text-align: center;
  color: #fff;
  padding: .1rem; }

.flash {
  position: relative;
  width: 66.6%;
  left: 1800px;
  top: 0px;
  margin-top: 1rem; }

.warning {
  margin-top: 1rem; }
  @media (min-width: 992px) {
    .warning {
      margin-top: 3rem; } }

.blacken {
  background-color: black; }

blockquote {
  border-left: solid white 1px;
  padding-left: 1rem; }

/*# sourceMappingURL=resume.css.map */
