/*Background Images*/

.bk-image-1 {
    background-image: url(/static/img/hands.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-2 {
    background-image: url(/static/img/computer-web.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-3 {
    background-image: url(/static/img/bike_wheel.jpg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-4 {
    background-image: url(/static/img/decorate-web.jpg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-5 {
    background-image: url(/static/img/wrench-web.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-6 {
    background-image: url(/static/img/car-web.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-7 {
    background-image: url(/static/img/yoga-web.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-8 {
    background-image: url(/static/img/knitting.jpg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-9 {
    background-image: url(/static/img/guitar.jpg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

.bk-image-10 {
    background-image: url(/static/img/hands_mess_board.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}


/*Fonts*/

.white {
    color: #fff !important;
}

.orange {
    color: #bf5d31 !important;
}

.font_300 {
    font-weight: 300 !important;
}





/*Page Headings*/

/*.p-0 {*/

/*    background-color: black;*/

/*}*/

/*.heading {*/

/*    color: #fafafa;*/

/*    position: fixed;*/

/*    font-size: 5rem;*/

/*    z-index: 1;*/

/*    top: 12%;*/

/*    left: 30%;*/

/*    text-align: right;*/

/*    background-color: #492c2c80;*/

/*    padding-right: 1rem;*/

/*    text-shadow: 5px -2px black;*/

/*}*/

.landing-page {
    font-size: 13rem !important;
    line-height: 12.5rem;
    color: white;
    text-shadow: 5px -2px black;
}

/*.challenge-page-title {*/
/*    font-size: 11rem;*/
/*    line-height: 8rem;*/
/*    color: #3273a6;*/
/*    margin: 4.5rem 0rem !important;*/
/*}*/

/*.challenge-numbers_1 {*/
/*    font-family: 'Knewave', cursive;*/
/*    font-size: 20rem;*/
/*    line-height: 5rem;*/
/*    color: #2e72aa !important;*/
/*}*/

/*.challenge-numbers_2 {*/
/*    font-family: 'Knewave', cursive;*/
/*    font-size: 20rem;*/
/*    line-height: 5rem;*/
/*    color: #bd5d38!important;*/
/*    margin-top: 5rem;*/
/*    text-shadow: 7px -3px black;*/
/*}*/

/*.answer_txt {*/
/*    font-family: 'Knewave', cursive;*/
/*    font-size: 3rem;*/
/*    margin-top: 1rem;*/
/*    color: white !important;*/
/*    background-color: #bd5d38;*/
/*}*/

/*.subheading {*/
/*    font-size: 3.5rem;*/
/*    color: #fafafa;*/
/*}*/

.username {
    color: #fff;
    background-color: #000;
    padding: 1rem;
}


.parent_1 {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    opacity: .8;
    margin: 1rem;
}

.parent_2 {
    display: flex;
    align-items: center;
    opacity: .8;
    margin: 1rem;
}

.parent>div {
    flex: 1;
    padding: 2rem;
}

/*Paragraphs*/

/*Navigation Bar*/

.fixed-top {
    height: 12%;
}

.navbar-toggler-icon {
    font-size: 4rem !important;
}

/*Icons*/

/*.challenge-icons {*/

/*}*/

/*Padding and Margins*/

.my-auto {
    margin-top: 10rem;
    padding-left: 2rem;
}

h1,
h2,
p {
    padding: 1rem;

}

section>p {
    font-family: 'Saira Extra Condensed', serif;
    font-size: 3rem;
    color: #fff;
}



/*Buttons*/

.btn-lg {
    padding: 1.5rem 4rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 2rem;
    margin-top: 1rem;
    opacity: .8;
}

.input-lg {
    font-size: 3rem;
    max-width: 70%;
}

/*Transitions*/

.hidden,
.hidden_title,
.hidden_icon,
.hidden_answer,
.hidden_icon {
    display: none;
}

.fa-hand-point-right {
    position: fixed;
    top: 35%;
    left: 55%;
    font-size: 25rem;
    color: #000;
    opacity: .8;
    z-index: 10;
}

/*navBar*/

.mda_logo {
    max-width: 15rem !important;
    border: none !important;
    padding: 0 !important;
}





/*Table*/

.table {
    font-size: 2rem;
    color: white;
    overflow-y: auto;
}


.table td {
    padding: 2rem;
}

.message_margin {
    margin-top: 10%;
    color: #fff;
}

.table-responsive {
    width: 100%;
}

/*Video*/

.iframe {
    width: 560;
    height: 315;
}


#time_bank_img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    width: 90%;
}

ul {
    list-style-type: none;
}
