

.fixed-top {
    height: 12%;
}





/*Table*/

/*.table {*/
/*    font-size: 2rem;*/
/*    color: white;*/
/*    overflow-y: auto;*/
/*}*/


/*.table td {*/
/*    padding: 2rem;*/
/*}*/

/*.message_margin {*/
/*    margin-top: 10%;*/
/*    color: #fff;*/
/*}*/

/*.table-responsive {*/
/*    width: 100%;*/
/*}*/

/*Video*/

.iframe {
    width: 560;
    height: 315;
}


#time_bank_img {
    max-width: 100%;
    max-height: 100%;
}

/*hr {*/
/*    width: 90%;*/
/*}*/

ul {
    list-style-type: none;
}
