<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MDA timeBank</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Skranji:700" rel="stylesheet">

    <!--Font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
    <!--Above sheets to be sorted - delete styles.css following emptying into scss-->

</head>


<body>

<!--Collapsable navbar-->
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id='sideNav'>-->
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
    <!--<a class="navbar-brand">-->
    <!--    <span class="d-lg-none"><img class="mda_logo" src="{{ url_for('static', filename='img/MDA.png') }}" alt="MDA logo"></span>-->
    <!--    <span class="d-none d-lg-block"><img class="mb-2 mda_logo" src="{{ url_for('static', filename='img/MDA.png') }}" alt="MDA logo"></span>-->
    <!--</a>-->
    <!--    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">-->
    <!--        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
    <!--            <li class="nav-item">-->
    <!--                <a class="nav-link" href="{{ url_for('index') }}">Start the Challenge!</a>-->
    <!--            </li>-->
    <!--            <li class="nav-item">-->
    <!--                <a class="nav-link" href="{{ url_for('information') }}">More Information</a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->
    <!--</nav>-->
    <nav class="navbar navbar-light bg-light" id="sideNav">
        <a class="navbar-brand">
            <img class="mda_logo" src="{{ url_for('static', filename='img/MDA.png') }}" alt="MDA logo" width="200" height="100" alt="">
            <form>
                <button type="submit" value="{{ url_for('index') }}" class="btn-sm btn-danger nav-btn">Start Again!</button>
            </form>
        </a>
    </nav>


{% block content %} {% endblock %}

<!--JQuery-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!--Materialize JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!--Font-awesome JavaScript-->
<script src="https://use.fontawesome.com/0ac03ef31e.js"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='js/resume.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/challenge.js') }}"></script>

</body>

</html>
