{% extends 'base.html' %} {% block content %}

<body class="bk-image" style="background-image: url({{ context.image }})">

    <div class="container">
        <!--Context is used to render values on the template-->
        <h2 class="user">Player: {{ context.username }}!</h2>
        <div class="row challenge-cards">
            <div class="col-4">
                <div class="card card-body hidden_question">
                    <h2>Question</h2>
                    <!--Add '1' to challenge_id to render the Challenge #-->
                    <h2>{{ context.challenge_id + 1 }}</h2>
                </div>
            </div>
            <div class='col-4'>
                <div class="card card-body hidden_attempt">
                    <h2>Attempt</h2>
                    <h2>{{ context.attempt }}</h2>
                </div>
            </div>
            <div class='col-4'>
                <div class="card card-body hidden_score">
                    <h2>Score</h2>
                    <h2>{{ context.current_score }}</h2>
                </div>
            </div>
        </div>
        <div class="row challenge-body">
            <div class="col-3 col-lg-2">
                <h2 class="challenge-number hidden">{{ context.need }}</h2>
            </div>
            <div class="col-9 col-lg-10">
                <p class="challenge-text hidden_para">{{ context.statement }}...</p>
            </div>
        </div>
        <h1 class="challenge_title hidden">{{ context.title }}</h1>
        <p class="challenge-text hidden">{{ context.challenge }}</p>

        <!--Guess Button with input fields hidden to pass auto values for the context -->
        <form method='POST' class="form-inline hidden" name="guess">
            <input type='number' class="form-control form-control-lg input-field input-lg" id="guess" name='guess' autocomplete="off" required>
            <input type="hidden" name="challenge_id" id="challenge_id" value="{{ context.challenge_id }}">
            <input type="hidden" name="current_score" id="current_score" value="{{ context.current_score }}">
            <input type="hidden" name="attempt" id="attempt" value="{{ context.attempt }}">

            <button class="btn btn-lg btn-success">Guess!</button>
        </form>
        
        <!--Flash messages informing player of score and next challenge-->
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for message in messages %}
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <div class="card flash" title="Click to dismiss">
                            <h2>{{ message }}</h2>
                        </div>
                    </div>
                {% endfor %} 
            {% endif %} 
        {% endwith %}    
    </div>
</body>
{% endblock %}
