{% extends 'base.html' %} {% block content %}

<div class="container-fluid p-0 bk-image-2">
    
    <!--ALERT-->
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
        <h2>What's this about?</h2>
        <hr>
        <p>There are around 2,500 people living in the Markets.<br><br>
        Over the last year 226 residents have provided information about what skills, knowledge
        and expertise they have - and what support they could do with or would like.<br></p>
        <h2>Take the challenge and see how resourceful your neighbours are!</h2>
        <h2 class="white font_300">
            <strong>'Right Answer' = 10 points<br>
            'Close Enough' (+/- 10) = 5 points</strong></h2>
    </div>
    
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
            <div class="parent_1">
                <div class="left input-group">
                    <h1 class="challenge-numbers_1 hidden">{{ challenge_data[0]["need_amount"] }}</h1>
                </div>
                <div class="right">
                    <h2 class="hidden">{{ challenge_data[0]["need_statement"] }}</h2>
                </div>
            </div>
            <div>
                <h1 class="mb-5 challenge-page-title hidden_title">{{ challenge_data[0]["title"] }}</h1>
                <a href="/challenge_2"><i class="fas fa-hand-point-right fa-9x hidden_icon"></i></a>
            </div>
            <div>
                <h2 class="hidden_title">{{ challenge_data[0]["skill_question"] }}</h2>
            </div>
            <div class="parent_2">

                <form method='POST' class="form hidden_title" name="guess" onsubmit="return(false)">
                    <input type='number' class="form-control form-control-lg input-field input-lg" id="challenge_form" name='guess' autocomplete="off" placeholder="Your Guess..." required>
                    <input type='button' id="numScore" class="btn-lg btn-danger challenge_btn" value='Guess'>
                    <h2 class="hidden_answer answer_txt">The correct answer is...</h2>
                </form>
                    
                
                <div>
                    <h1 class="hidden_answer challenge-numbers_2">{{ challenge_data[0]["skill_answer"] }}</h1>
                </div>
            </div>
        </div>

    </section>

</div>

{% endblock %}
