{% extends 'base.html' %} {% block content %}

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column bk-image-2" id="interests">
        <div class="my-auto">
            <h3 class="username">Welcome {{ user[0] }}!</h3>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}

            <h3 class="running_score">{{ message }}</h3>
            {% endfor %} {% endif %} {% endwith %}




            <div class="parent_1">
                <div class="left input-group">
                    <h1 class="challenge-numbers_1 hidden">{{ challenge_data[0]["need_amount"] }}</h1>
                </div>
                <div class="right">
                    <h2 class="hidden">{{ challenge_data[0]["need_statement"] }}</h2>
                </div>
            </div>
            <div>
                <h1 class="mb-5 challenge-page-title hidden_title">{{ challenge_data[0]["title"] }}</h1>
            </div>
            <div>
                <h2 class="hidden_title">{{ challenge_data[0]["skill_question"] }}</h2>
            </div>
            <div class="parent_2">

                <form method='post' class="form hidden_title">
                    <input type='number' class=" form-control form-control-lg input-field input-lg" name='guess' placeholder="Your Guess..." required>
                    <button type='button' class="btn-lg btn-danger" value='submit' onSubmit="return false;">submit</button>
                </form>

                <div>
                    <h1 class="hidden_answer challenge-numbers_2">{{ challenge_data[0]["skill_answer"] }}</h1>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}
