{% extends 'base.html' %} 

{% block content %}

<body class="bk-image-9">
    <div class="container">

        <!--ALERT Message with TimeBank Quote details-->
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
            <h2>Is it possible?</h2>
            <hr>

            <!--Flash Message for Score Tally-->
            {% with messages = get_flashed_messages() %} 
            {% if messages %} 
            {% for message in messages %}

            <h2>{{ message }}</h2>

            {% endfor %} 
            {% endif %} 
            {% endwith %}

            <p>"We have what we need, if we use what we have."<br>Edgar Cahn</p>
            <hr>
            <h2>Watch the video after sign-in to see a TimeBank in action!</h2>
        </div>

        <!--Challenge 8 Details from data/challenge.json-->
        <div class="row challenge-body">
            <div class="col-xs-12">
                <h2 class="challenge-numbers_1 hidden">{{ challenge_data[3]["need_amount"] }}</h2>
            </div>
            <div class="col-xs-12">
                <h2 class="challenge_statement hidden">{{ challenge_data[3]["need_statement"] }}</h2>
            </div>
            <div class="col-xs-12">
                <h1 class="challenge-page-title hidden_title">{{ challenge_data[3]["title"] }}</h1>
            </div>
            <div class="col-xs-12">
                <a href="/registration"><i class="fas fa-hand-point-right fa-9x hidden_icon"></i></a>
            </div>
            <div class="col-xs-12">
                <h2 class="challenge_statement_2 hidden_title">{{ challenge_data[3]["skill_question"] }}</h2>
            </div>

            <!--Guess Button (Ajax Request) -->
            <div class="col-xs-12">
                <form method='POST' class="form hidden_title" name="guess" onsubmit="return(false)">
                    <input type='number' class="form-control form-control-lg input-field input-lg" id="challenge_form" name='guess' autocomplete="off" placeholder="Guess" required>
                    <input type="button" id="numScore" class="btn-lg btn-danger challenge_btn" value='Go!'>
                </form>
                <h2 class="hidden_answer answer_txt">The correct answer is...</h2>
                <span><h1 class="hidden_answer challenge-numbers_2">{{ challenge_data[3]["skill_answer"] }}</h1></span>
            </div>
        </div>
    </div>
</body>

{% endblock %}
