{% extends 'base.html' %} {% block content %}

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column bk-image-6" id="interests">
        <div class="my-auto">

            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
                <h2>TimeBank: Core Values</h2>
                <hr>

                <h2>3. Reciprocity</h2>
                <p>The question: “How can I help you?” needs to change so we ask: “How can we help each other build the world we all will live in?”.</p>

            </div>





            <div class="parent_1">
                <div class="left input-group">
                    <h1 class="challenge-numbers_1 hidden">{{ challenge_data[4]["need_amount"] }}</h1>
                </div>
                <div class="right">
                    <h2 class="hidden">{{ challenge_data[4]["need_statement"] }}</h2>
                </div>
            </div>
            <div>
                <h1 class="mb-5 challenge-page-title hidden_title">{{ challenge_data[4]["title"] }}</h1>
                <a href="/challenge_6"><i class="fas fa-hand-point-right fa-9x hidden_icon"></i></a>
            </div>
            <div>
                <h2 class="hidden_title">{{ challenge_data[4]["skill_question"] }}</h2>
            </div>
            <div class="parent_2">

                <form method='POST' class="form hidden_title" name="guess" onsubmit="return(false)">
                    <input type='number' class="form-control form-control-lg input-field input-lg" id="challenge_form" name='guess' autocomplete="off" placeholder="Your Guess..." required>
                    <input type='button' id="numScore" class="btn-lg btn-danger challenge_btn" value='Guess'>
                    <h2 class="hidden_answer answer_txt">The correct answer is...</h2>
                </form>
                <div>
                    <h1 class="hidden_answer challenge-numbers_2">{{ challenge_data[4]["skill_answer"] }}</h1>
                </div>
            </div>
        </div>

    </section>

</div>

{% endblock %}
