{% extends 'base.html' %} 

{% block content %}

<div class="container-fluid p-0 bk-image-1">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            
            <!--Page Header-->
            
            <h1 class="mb-0 landing-page">MDA<br>
                <span class="text-primary landing-page">TimeBank Survey</span>
            </h1>
            <h1 class="subheading">Take the Challenge<br>See the Results<br>Join Us
            </h1>
            
            <!--Redirect Button - Start New Challenge-->
            
            <form method="POST" data-toggle="validator" role="form">
                <button type="submit" class="btn-lg btn-outline-info">Play Now!</button>
            </form>
        </div>
    </section>

</div>

{% endblock %}
