{% extends 'base.html' %} {% block content %}

<body class="bk-image-10">
    
    <h1 class="message_margin">{{ page_title }}</h1>
    
    <!--TimeBank Context Message-->
    <h2 class="info-head">TimeBanks are part of the Solidarity Economy.</h2><br>
    <p class="info-p">There are TimeBanks in over 34 countries across the world, made up of tens of 
    thousands of people.</h2><br><br>

    <!--TimeRepublik Youtube Video-->
    <iframe width=50% height="300" src="https://www.youtube.com/embed/1kyF2xAHl5c?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
     
     <!--Email Contact info-->
    <p class="info-p">Interested in starting a TimeBank in the Markets?</p><br>
    <h2 class="info-foot"><strong>Contact Fionntan (MDA): fionntanh@hotmail.com</strong></h2>
    
</body>
    {% endblock %}
