{% extends 'base.html' %} {% block content %}

<body class="bk-image-1">
    <div class="container">
        <div class="jumbotron warning">
            <h2 class="challenge_statement_2">Welcome {{ username }}! </h2> 
            <p>
                There are around 2,500 people living in the Markets.<br><br> 
                Over the last year 226 residents provided information about the 
                skills, knowledge and expertise they have - and what support they 
                could do with or would like.
            </p>
            <h2>Think you know your neighbours?<br>Let's get started...</h2><br>
            <p>
                <strong>For every <u>correct answer</u> you will receive <u>10 points</u>. If 
                your guess is <u>close (i.e. within 5 points of the answer)</u>,
                you will get <u>5 points</u>.</strong>
            </p>
            <form method="POST" data-toggle="validator" role="form" action="/challenge/{{username}}">
                <input type="hidden" value="true" name="first-challenge">
                <button type="submit" value="login" class="btn-lg btn-success">Play Now!</button>
            </form>
        </div>

    </div>
</body>

{% endblock %}


