{% extends 'base.html' %} {% block content %}
<section class="resume-section p-3 p-lg-5 d-flex flex-column bk-image-10" id="interests">

    <h1 class="message_margin">{{ page_title }}</h1>




    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Score</th>
                <th>Name</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>

            {% for item in score_table %}
            <tr>
                <td>{{ item.score }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
