<!--ALERT Message with TimeBank survey details-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2>What's this about?</h2>
    <hr>
    <p>There are around 2,500 people living in the Markets.<br><br> Over the last year 226 residents provided information about the skills, knowledge and expertise they have - and what support they could do with or would like.<br></p>
    <h2>Take the challenge and see how resourceful your neighbours are!</h2><br>
    <h2>
        <strong>'Right Answer'..................10 points<br><br>
    'Close Enough' (+/- 10)..........5 points</strong></h2>
</div>

<!--ALERT Message with TimeBank description-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2 class="orange">What is a TimeBank?</h2>
    <hr>
    <p>TimeBanking is a tool with which a group of people share and exchange their time, skills & resources rather than buying goods and services with money.</p>

    <!--Flash Message for Score Tally-->
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
    {% for message in messages %}
    
    <h2>{{ message }}</h2>
    
    {% endfor %} 
    {% endif %} 
    {% endwith %}
</div>

<!--ALERT Message with TimeBank values details-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2>TimeBank: Core Values</h2>
    <hr>
    <h2>1. Assets</h2>
    <p>We all have something to give.<br><br>We all have something of value to contribute.</p>

    <!--Flash Message for Score Tally-->
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
    {% for message in messages %}
    
    <h2>{{ message }}</h2>
    
    {% endfor %} 
    {% endif %} 
    {% endwith %}
</div>

<!--ALERT Message with TimeBank values details-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2>TimeBank: Core Values</h2>
    <hr>
    <h2>2. Redefining Work</h2>
    <p>Work should strengthen familes, build communities, promote equality and sustainability.</p>

    <!--Flash Message for Score Tally-->
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
    {% for message in messages %}
    
    <h2>{{ message }}</h2>
    
    {% endfor %} 
    {% endif %} 
    {% endwith %}
</div>

<!--ALERT Message with TimeBank values details-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2>TimeBank: Core Values</h2>
    <hr>
    <h2>3. Reciprocity</h2>
    <p>The question: “How can I help you?” needs to change so we ask: “How can we help each other build the world we all will live in?”.</p>

    <!--Flash Message for Score Tally-->
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
    {% for message in messages %}
    
    <h2>{{ message }}</h2>
    
    {% endfor %} 
    {% endif %} 
    {% endwith %}
</div>

<!--ALERT Message with TimeBank values details-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2>TimeBank: Core Values</h2>
    <hr>
    <h2>4. Social Networks</h2>
    <p>People joined together in shared purpose are stronger than individuals and can create communities of support, strength & trust.</p>

    <!--Flash Message for Score Tally-->
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
    {% for message in messages %}
    
    <h2>{{ message }}</h2>
    
    {% endfor %} 
    {% endif %} 
    {% endwith %}
</div>

<!--ALERT Message with TimeBank values details-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2>TimeBank: Core Values</h2>
    <hr>
    <h2>5. Respect</h2>
    <p>Work with people where they are now, not where we hope they will be at some future point.</p>

    <!--Flash Message for Score Tally-->
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
    {% for message in messages %}

    <h2>{{ message }}</h2>

    {% endfor %} 
    {% endif %} 
    {% endwith %}
</div>


<!--ALERT Message with TimeBank Quote details-->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close btn-lg" data-dismiss="alert">&#10006;</button>
    <h2>Is it possible?</h2>
    <hr>

    <!--Flash Message for Score Tally-->
    {% with messages = get_flashed_messages() %} 
    {% if messages %} 
    {% for message in messages %}

    <h2>{{ message }}</h2>

    {% endfor %} 
    {% endif %} 
    {% endwith %}

    <p>"We have what we need, if we use what we have."<br>Edgar Cahn</p>
    <hr>
    <h2>Watch the video after sign-in to see a TimeBank in action!</h2>
</div>