.alert {
    font: {
        family: 'Saira Extra Condensed', serif;
    }
    background-color: #000;
    -webkit-box-shadow: 12px 10px 9px #525050;
            box-shadow: 12px 10px 9px #525050;
    width: 90%;
    position: fixed;
    top: 15%;
    left: 5%;
    z-index: 10;
    border-radius: 25px;
    line-height: 1;
    p {
        font-size: 3rem;
        color: white;
        font-weight: 400;
    }
    h2 {
        font-size: 3rem;
        color: #bf5d31;
    }

}

@media (min-width: 992px) {
    .alert {
        width: 60%;
        position: fixed;
        top: 20%;
        left: 30%;
    
     p {
        font-size: 2rem;
        color: white;
        font-weight: 400;
    }
    h2 {
        font-size: 2rem;
        color: #bf5d31;
    }

    }
}