// Background Images
.bk-image-1 {
    background-image: url(/static/img/hands.jpeg);
    @include background-image
}

.bk-image-2 {
    background-image: url(/static/img/computer-web.jpeg);
    @include background-image
}

.bk-image-3 {
    background-image: url(/static/img/bike_wheel.jpg);
    @include background-image
}

.bk-image-4 {
    background-image: url(/static/img/decorate-web.jpg);
    @include background-image
}

.bk-image-5 {
    background-image: url(/static/img/wrench-web.jpeg);
    @include background-image
}

.bk-image-6 {
    background-image: url(/static/img/car-web.jpeg);
    @include background-image
}

.bk-image-7 {
    background-image: url(/static/img/yoga-web.jpeg);
    @include background-image
}

.bk-image-8 {
    background-image: url(/static/img/knitting.jpg);
    @include background-image
}

.bk-image-9 {
    background-image: url(/static/img/guitar.jpg);
    @include background-image
}

.bk-image-10 {
    background-image: url(/static/img/hands_mess_board.jpeg);
    @include background-image
}

// Elements idden for jquery event
.hidden,
.hidden_title,
.hidden_icon,
.hidden_answer,
.hidden_icon {
    display: none;
}


// Flexbox styling for Headers & subheadings
.parent_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-color: white;
    opacity: .8;
    margin: 1rem;
}

.parent_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: .8;
    margin: 1rem;
}

.parent>div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 2rem;
}

// FONTS for Challenge Pages
.challenge-page-title {
    font-size: 11rem;
    line-height: 8rem;
    color: $blue;
    margin: 4.5rem 0rem;
}

section h2 {
    color: $gray-800;
}

.challenge-numbers_1 {
    @include challenge-font;
    font-size: 20rem;
    line-height: 5rem;
    padding-top: 1rem;
    color: $blue;
}

.challenge-numbers_2 {
    @include challenge-font;
    font-size: 20rem;
    line-height: 5rem;
    color: $orange;
    margin-top: 5rem;
    padding: 0rem;
    text-shadow: 7px -3px black;
    -webkit-box-sizing: none;
    box-sizing: none;
}

.answer_txt {
    @include challenge-font;
    font-size: 3rem;
    margin-top: 1rem;
    color: white;
    background-color: $orange;
}

.subheading {
    font-size: 3.5rem;
    color: #fafafa;
}

// Margins
.input-group {
    width: 45%;
}


// Icon
.fa-hand-point-right {
    position: fixed;
    top: 35%;
    left: 55%;
    font-size: 25rem;
    color: #000;
    opacity: .8;
    z-index: 10;
}



@media (min-width: 992px) {
    // FONTS for Challenge Pages
    .challenge-numbers_1 {
        font-size: 17rem;
    }

    .challenge-numbers_2 {
        font-size: 15rem;
    }

    .challenge-page-title {
        font-size: 10rem;
    }

    section h2 {
        font-size: 4rem;
    } // Margins
    .input-group {
        width: 35%;
    }

    .fa-hand-point-right {
        position: fixed;
        top: 20%;
        left: 70%;
        font-size: 20remgit status;
    }
}
