// Styled to diplay appropriately across all breakpoints
section h2 {
    color: $orange;
    background-color: black;
}

.username {
    color: $white;
    font: {
        size: 5rem;
        family: 'Skranji', cursive;
    }
    line-height: 5.5rem;
    background-color: #000;
    padding: 1rem;
}

.reg-page {
    font-size: 10rem;
    line-height: 8.5rem;
    color: white;
    text-shadow: 5px -2px black;
}

.text-primary {
    color: $orange !important;
}

.input-lg {
    font-size: 2rem;
    max-width: 50%;
}
