.table {
    font-size: 2rem;
    color: white;
    overflow: auto;
    text-align: center;
    height: 60%;
    td {
        padding: 2.5rem;
    }

}

.message_margin {
    margin-top: 15%;
    color: #bf5d31;
    text-align: center;
}

.table-responsive {
    width: 100%;
}

@media (min-width: 992px) {
    .message_margin {
    margin-top: 2%;
}
}